.servises {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: 100px minmax(100px, 200px) 50px 1fr;
  max-width: 1920px;
  width: 100%;
  justify-items: center;
  justify-content: center;
}

.servise-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 2/4;
  grid-row: 2/3;
  font-size: 20px;
}

.ser-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 2/3;
  grid-row: 4/5;
}

.border-bottom {
  border-bottom: 4px solid #fc6744;
  width: 45px;
}

.modern-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  grid-column: 2/3;
  grid-row: 4/5;
}

.modern-watch {
  display: flex;
  flex-wrap: wrap;
  grid-column: 3/4;
  grid-row: 4/5;
  max-width: 320px;
  width: 100%;
}

.modern-button {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  border-radius: 50px;
  width: 150px;
  width: 100%;
}

.mod {
  max-height: 50px;
  height: 100%;
}

@media (max-width: 1020px) {
  .servises {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px minmax(100px, 200px) 50px 1fr 1fr;
  }
}
@media (max-width: 1020px) {
  .modern-watch,
  .watch {
    grid-column: 2/3;
    grid-row: 5/6;
    max-width: 250px;
    width: 100%;
  }
}

@media (max-width: 1020px) {
  .modern-button {
    grid-column: 2/4;
    grid-row: 5/6;
  }
}
@media (max-width: 1020px) {
  .servise-title {
    grid-column: 2/3;
  }
}

.ser-flex-cont {
  display: flex;
  grid-column: 2/3;
  grid-row: 4/5;
}
